{{!
{
	"title"		: "America's Cup",
	"name"		: "photosite",	
	"resources"	: {
	    "facebook": {
	        "url": "http://proxy.storyteller.io/facebook/americascup/albums",
	        "headers": {
	            "Api-Key": "0276bf3f-b0e7-417a-8871-c79d57511e6a",
	            "Project": "photosite"
		    }
		}
	},	
	"preprocessor": "albums.js"
}
}}

<section class="wrap home">

	<header>
		<h1>America's Cup Photo Gallery</h1>
	</header>

	<main >
	<!-- loop -->
	{{#each resources.facebook.data}}
	    <article class="box">
		    <a href="/albums/{{this.id}}" ></a>
		    <figure>
		    	<img src="{{this.previewImage}}">
		    	<figcaption>
		    		<span class="title">{{this.name}}</span>
		    		<time datetime="{{this.created_time}}">{{this.humanTime}}</time>
		    	</figcaption>
		    </figure>
	    </article>
	{{/each}}
	<!-- end loop -->
	</main>

	<footer>
		<small>BUILT BY ROB GUNGOR</small>
	</footer>
	
<section>
