{{!
{
	"title": "America's Cup",
	"name": "photosite",
	"resources": {
	    "facebook": {
	        "url": "http://proxy.storyteller.io/facebook/{album_id}/photos",
	        "headers": {
	            "Api-Key": "0276bf3f-b0e7-417a-8871-c79d57511e6a",
	            "Project": "photosite"
	        }
	    }	    
	},
	"preprocessor": "album.js"
}
}}
<!-- {album_id}/index.hbs -->
<section class="wrap">

	<header>
		<h1>America's Cup Photo Gallery</h1>
		<a class="back" href="../../">BACK</a>
	</header>

	<main>
	<!-- loop -->
	{{#each resources.facebook.data}}
	    
	    <article class="box">
	      <figure class="boxInner">
	        
	        <a href="/albums/{{../parameters.album_id}}/photos/{{this.id}}" style="background-image: url({{this.previewImage}});"></a>

	        <figcaption class="titleBox">
	        	<span class="title">{{this.name}} </span>
	        	<time datetime="{{this.created_time}}">{{this.humanTime}}</time>
	        </figcaption>

	      </figure>
	    </article>

	{{/each}}
	<!-- end loop -->
	</main>

	<footer>
		<a class="back" href="../../">BACK</a>
		<small>BUILT BY ROB GUNGOR</small>
	</footer>
	
<section>

